
body{
    width: 100%;
    align-items : center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #333;
    overflow: auto;
    background-image:url('backgroundImg.png') ;
    z-index: -1;
}  
div{
    word-wrap: break-word;
}

#inv{
    width: 60%;
    height:auto;
    display:inline-block;
}
#invoice-form {
    position: relative;
    max-width: 100%;
}

#invoice-form img {
    width: 100%;
    height: auto;
    display: block;
}


#invoice-form div {
    position: absolute;
    z-index: 10; 
}

#invoice-form div input[type="text"] {
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0);
    padding: 0; 
    margin: 0;
}

/* placeholder stuf */
#invoice-form .ui.placeholder {
    max-width: 100%;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0; 
}

#invoice-form .ui.placeholder .image {
    width: fit-content;
    height: 100%;
}

#invoice-image {
    width: 100%;
    display: none;
}


#errorBar{
    width: 20%;
    height:fit-content;
    width: calc(20% - 2 * 10px); 
    margin: 10px;
}

.success-message{
    color: rgb(0, 180, 0);
}
.error-message{
    color: rgb(255, 0, 0);
}



#advancedSearch {
    display: none;
    overflow: hidden;
    max-height: 0;
}
#advancedSearch.active {
    display: block;
    margin:1rem;
    padding: 1rem;
    background-color: #f9fafb; 
    max-height: 500px; 
}
#caretIcon.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
#invoiceTable .ui.dropdown .menu {
    right: 0;
    left: auto; 
}
.tableHead{
    text-align: center;
}
.tableheadBar{
    width:100%;
}
.ui.dropdown .menu {
    display: none;
    position: absolute;
    z-index: 2000;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 0;
}
.ui.dropdown.active .menu {
    display: block;
}
.ui.dropdown .menu .item {
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.ui.dropdown .menu .item:hover {
    background: #f4f4f4;
}

/* reapeated for search work items */
#advancedSearchWI {
    display: none;
    overflow: hidden;
    max-height: 0;
}
#advancedSearchWI.active {
    display: block;
    margin:1rem;
    padding: 1rem;
    background-color: #f9fafb; 
    max-height: 500px; 
}
#caretIcon2.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
#workItemTable .ui.dropdown .menu {
    right: 0;
    left: auto; 
}



.AWIFormTable {
    display: table;
    width: 100%;
    margin-top: 20px; 
}
.AWIFormRow {
    display: table-row;
}
.AWIInput {
    overflow: visible;
    width: 100%;
    padding: 2.5px;
}
.AWIFormCell {
    display: table-cell;
}
.AWIFormCell.large {
    width: 70%; 
}
#AWIAddClientBtn {
    cursor: pointer;
    margin-left: 0%;
    margin-right:2.5px;
}
#AWIClientDropdown {
    position: relative;
    display: flex;
    align-items: center;
}
#addWorkItemSection{
    padding-left:20px;
    padding-right:20px;
}
#addWorkItemSection .ui.form .fields .field > .input, 
#addWorkItemSection .ui.form .fields .field > input {
    font-size: 16px;
    padding: .367857143em 1em;
    border-radius: 0 !important; 
}
#addWorkItemSection .ui.form .fields {
    margin-bottom: 0 !important;
}
#addWorkItemSection .ui.form .fields .field {
    padding-right: 0 !important; 
    padding-left: 0 !important;
}
#addWorkItemSection .ui.form .field>label {
    font-size: 1.0em;
}
#AWISaveBtn{
    margin:10px;
    position: relative;
}
#AWIsaveNextBtn{
    margin:10px;
    position: relative;
}
.modal-overlay {
    display: none;
    position: fixed; 
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.ui.modal {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    left: 20%;
}
.fade-out {
    opacity: 1;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 60s;
  }
  
  @keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
  }





#head, .ui.inverted.menu {
    width: 100%; 
}
.disableBtn {
    pointer-events: none;
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px; 
}

.button-list {
    flex: 0 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: calc(20% - 2 * 10px); 
    margin: 10px;
}

.button-list .fluid.ui.button {
    width: calc(100% - 2%); 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

.button-list .fluid.ui.button:hover {
    opacity: 0.8; 
}



.pdf-form {
    width: 60%;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .button-list, .pdf-form {
        width: 100%;
        margin-top: auto;

    }
    #errorBar{
        width: 100%;
    }
    #inv{
        width: 100%;
    }
    .ui.floating.dropdown.icon.button{
        left: 50%;
    }

}